body {
  /* This sets all the four margin as zero */
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  /* This sets the font size to 90px as 1rem=16px=100% */
  font-size: 5.625rem;
  /* This sets the top of margin as zero */
  /* This is called right hand circle rule */
  /* top right bottom left */
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  /* line-height: 2; */
}

h2 {
  /* font-size: 2.5rem; // 40px*/
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-weight: normal;
  padding: 20px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  color: #40514e;
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  color: grey;
  margin: 100px auto;
}
/* .para1 {
  clear: left;
}

.para2 {
  clear: right;
} */
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profile {
  margin-top: 20px;
}

.skill-row {
  width: 50%;
  /* position: relative;
  left: 25%; */
  /* or the other way to after setting the width to 50% bring the element block in the midle by */
  margin: 100px auto;
  text-align: left;
  /* makes the text left align */
  /* The above will balance the margin auto at the middle on all four side */
}

.intro-message {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.computer {
  float: left;
  margin-right: 30px;
}

.coding {
  float: right;
  margin-left: 30px;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 60px 0 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.BUTTON_IHY {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 200;
  padding: 12px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_IHY:hover {
  border: solid #337fed 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
